<div>   
    <div>
        <hr>
        <h1>User Information</h1>
        <p><strong>First Name:</strong> {{user.first_name}}</p>
        <p><strong>Last Name:</strong> {{user.last_name}}</p>
        <p><strong>Email:</strong> {{user.email}}</p>
        <p><strong>Age:</strong> {{user.age}}</p>
        <p><strong>Role:</strong> {{user.role}}</p>
        <p><strong>Cart ID:</strong> {{user.idCart}}</p>
        <hr>
        <button onclick="eliminarUsuario('{{user._id}}')">Eliminar usuario</button>
        <button onclick="cambiarUsuario('{{user._id}}')">Cambiar rol del usuario</button>
    <br>
    <br>
        <a href="/api/users"><button>Volver a todos los Usuarios</button></a>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/js/user.js"></script>